body {
    width: 70vw;
    margin: 50px auto;
    max-width: 900px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.top-nav {
    width: 70vw;
    max-width: 900px;
    position: fixed;
    top: 0;
    z-index: 1;
    display: grid;
    background-color: rgb(231, 251, 255);
    height: 48px;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    justify-items: center;
}
.bot-nav {
    width: 70vw;
    max-width: 900px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: rgb(231, 251, 255);
    height: 48px;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-items: center;
}

@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }
    .top-nav {
        width: 100%;
        font-size: smaller;
    }
    .bot-nav {
        width: 100%;
        font-size: smaller;
    }
}