@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


* {
    font-family: 'Nanum Gothic', sans-serif;
}


body {
    /* width: 70vw; */
    margin: 50px auto;
    /* max-width: 900px; */
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

h2 {
    margin-left: 50px;

    @media screen and (max-width: 600px) {
        margin: 10px;
        font-size: 15pt
    }
}

.top-nav {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #BDEFCB;

}

.top-nav .items {
    max-width: 900px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.top-nav .login-logout {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.bot-nav {
    padding: 15px;
    width: auto;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    background-color: #D3EAFB;
    height: 48px;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-items: center;
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .top-nav {
        width: 100%;
        font-size: smaller;
    }

    .bot-nav {
        width: 100%;
        font-size: smaller;
    }
}