@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


* {
    font-family: 'Nanum Gothic', sans-serif;
}


body {
    /* width: 70vw; */
    margin: 50px auto;
    /* max-width: 900px; */
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

h2 {

    @media screen and (max-width: 600px) {
        margin: 10px;
        font-size: 15pt
    }
}

.top-nav {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #BDEFCB;
    height: 60px;
}

.top-nav .items {
    max-width: 900px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.top-nav .login-logout {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.bot-nav {
    padding: 15px;
    width: auto;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    background-color: #D3EAFB;
    height: auto;
    border-radius: 10px;
}

.bot-nav a {
    padding: 5px;
}

.bot-nav-content {
    display: none;
    z-index: 1;
    margin-bottom: 10px;
}

.bot-nav-content a {
    display: block;
    grid-template-rows: repeat(4, 1fr);

}

aside {
    padding: 15px;
    height: 100vh;
    position: fixed;
    right: 10%;
    top: 50%;
}

.side-nav-img {
    display: flex;
    z-index: 2;
    flex-direction: column;
}

.bot-nav:hover .bot-nav-content {
    display: grid;
}

.bot-nav-content a:hover {
    background-color: #7d9fc9;
    color: white;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .top-nav {
        width: 100%;
        font-size: smaller;
    }

    .bot-nav {
        font-size: smaller;
        bottom: 30px;
        left: 30px;
    }

    .bot-nav:hover .bot-nav-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
}