body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#frame {
    width: 100%;
    min-width: 360px;
    height: 100vh;
    min-height: 300px;
    background: #E6EAEA;
}

ul {
    padding-left: 0;
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100vh;
    }
}

#frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 340px;
    width: 40%;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 850px) {
    #frame #sidepanel {
        display: none;
    }

    #frame #content {
        width: 100%;
    }
}

#frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}

#frame #sidepanel #profile .wrap {
    height: 65px;
    line-height: 35px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

#frame #sidepanel #profile .wrap img {
    width: 60px;
    border-radius: 50%;
    padding: 3px;
    height: auto;
    float: left;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
    height: 60px;
}

#frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
}

#frame #sidepanel #search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
}

#frame #sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}

#frame #sidepanel #search input {

    padding: 10px 0 10px 46px;
    width: calc(100% - 25px);
    border: none;
    background: #32465a;
    color: #f5f5f5;
}

#frame #sidepanel #search input:focus {
    outline: none;
    background: #435f7a;
}

#frame #sidepanel #search input::-webkit-input-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #search input::-moz-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #search input:-ms-input-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #search input:-moz-placeholder {
    color: #f5f5f5;
}

#frame #sidepanel #contacts {
    height: calc(100% - 177px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: #2c3e50;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #243140;
}

#frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
}

#frame #sidepanel #contacts ul li.contact:hover {
    background: #32465a;
}

#frame #sidepanel #contacts ul li.contact.active {
    background: #32465a;
    border-right: 5px solid #435f7a;
}

#frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}

#frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

#frame #sidepanel #contacts ul li.contact .wrap img {
    width: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    height: 50px;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}

#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;

}

#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}

#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}

#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}

#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}

#frame .content {
    float: right;
    width: calc(100% - 340px);
    height: 100%;
    overflow: hidden;
    position: relative;
}

#frame .content .contact-profile {
    width: 100%;
    height: 80px;
    line-height: 40px;
    background: #f5f5f5;
}

#frame .content .contact-profile img {
    width: 60px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
    height: 60px;
}

#frame .content .contact-profile p {
    float: left;
    font-size: 18px;
}

#frame .content .messages {
    height: auto;
    min-height: calc(100% - 150px);
    max-height: calc(100% - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages ul li {
    display: inline-block;
    clear: both;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

#frame .content .messages ul li.sent img {
    float: right;
    margin: 6px 8px 0 0;
}

#frame .content .messages ul li.sent p {
    float: right;
    background: #435f7a;
    color: #f5f5f5;
}

#frame .content .messages ul li.replies img {
    margin: 6px 0 0 8px;
}

#frame .content .messages ul li.replies p {
    background: #f5f5f5;
}

#frame .content .messages ul li img {
    width: 42px;
    border-radius: 50%;
    float: left;
    height: 42px;
}

#frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 300px;
    line-height: 130%;
    font-size: 18px;
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#frame .content .message-input .wrap {
    position: relative;
}

#frame .content .message-input .wrap input {

    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 1.8em;
    color: #32465a;
}

#frame .content .message-input .wrap input:focus {
    outline: none;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.8em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

#frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    height: 54px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}

#frame .content .message-input .wrap button:hover {
    background: #435f7a;
}

#frame .content .message-input .wrap button:focus {
    outline: none;
}

.fa {
    font-size: 1.5em !important;
}