main {
    width: 60vw;
    margin: 75px auto;
    max-width: 1000px;
}


.list-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.list-btn button {
    background-color: #c9dbcf;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 30px;
    font-size: 11pt;
    cursor: pointer;
    font-weight: bold;
    margin: 20px 0px;
}

.list-section {
    border-radius: 15px;
    width: 100%;
}

.buttons {
    margin-bottom: 30px;
}

hr {
    display: none;
}

.buttons img {
    filter: invert(100%);
    width: 30px;
}

#counsel-title {
    color: rgb(216, 213, 208);
}

/********* counsel detail 시작 **********/
#counsel-detail-main {
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    width: 60vw;
    max-width: 1000px;
}

.counsel-title {
    width: 100%;
    display: flex;
    color: rgb(223, 213, 190);
    align-items: center;
    padding-left: 30px;

}

.counsel-author {
    margin: 20px;
    font-weight: 600;
    font-size: large;

}

.counsel-author>a {
    color: rgb(201, 201, 201)
}

.detail-buttons {
    filter: invert(100%);
}

.counsel-content {
    margin: 30px;
    color: white;
    min-height: 100px;
    white-space: pre-line;

}

.like {
    margin: 30px;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.like-button {
    filter: invert(100%);
}

.counsel-likes_count {
    color: rgb(158, 158, 158);
}

.counsel_created_at {
    color: rgb(158, 158, 158);
}

/********* counsel detail 끝 **********/


.best-comment{
    border: 3px solid rgba(255, 247, 236, 0.226);
    border-radius: 10px;
}
.comment-section{
    margin: 0px 15px;
    padding: 10px 0px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.329);
}
.comment-section div{
    margin: 5px;
}
.best-comment .author{
    display: flex;
    align-items: center;
    color: rgb(255, 242, 223);

}
.best-comment .comment{
    padding: 5px;
    font-weight: bold;
}
.best-comment .ect{
    display: flex;
    align-items: center;
}
.ect .created_at{
    font-size: 10pt;
    color: rgb(206, 206, 206);
}

/********* counsel-detail 댓글 시작 **********/

#anonymous-checkbox {
    margin-bottom: 15px;
}

.comment_card_class {
    width: 95%;
    margin: 20px auto 10px auto;
    /* border: 1px solid rgb(165, 165, 165); */
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.create_comment_box {
    width: 95%;
    margin: 20px auto 10px auto;
    /* border: 1px solid rgb(165, 165, 165); */
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.comment-text {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.textareaCommentclass {
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

.commentbtn {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    background-color: #e0eeff9d;
    font-weight: bold;
}

.commentbtn:hover {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    background-color: #536e91a4;
    color: white;
    cursor: pointer;
}


.comment_btns {
    display: flex;
    align-items: center;
}

.comment_btns a img {
    filter: invert(100%);
}

.replybtns {
    display: flex;
}

.replybtns a img {
    filter: invert(100%);
}

.reply-input {
    border-radius: 10px;
    max-width: 500px;
    width: 70%;
    height: 30px
}
#comment_card{
    padding: 10px;
}

#comment_card .comment{
    padding: 10px;
}

#comment_card .comment .author{
    display: flex;
    align-items: center;
    color: rgb(255, 242, 219);
}
#comment_card .comment .author img{
    margin-right: 5px;
    width: 25px;
}

.reply-card{
    padding: 10px;
}
.reply-content{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.reply-content .reply-head{
    margin-right: 20px;
    font-size: x-large;
}
.reply-author{
    color:rgb(255, 242, 219);
}
.button-blue {
    margin: 5px 0px 5px 5px;
    background-color: #aac2df;
    color: rgb(0, 23, 71);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px 8px;
    cursor: pointer;
}

.button-blue:hover {
    background: #5083c2;
    color: white;
}

.button-white {
    color: #8eadd3;
    font-weight: bold;
    border: 1px solid #8eadd3;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.button-white:hover {
    background: #c85656;
    color: white;
}

.comment_edit_icon {
    width: 20px;
    /* filter: grayscale(40%); */
    margin-left: 10px;
}

.comment_delete_icon {
    width: 20px;
}

.auth_btn {
    width: 18px;
    margin-right: 3px;
}

/********* counsel-detail 댓글 끝 **********/


.list-box {
    display: grid;
    grid-template-columns: 3fr 1fr 110px 50px;
    justify-items: start;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
    margin: 10px auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 50px;
    color: rgb(184, 184, 184);
}

#counsel-title {
    display: flex;
    font-weight: bold;
    gap: 10px;

}

#counsel-comment-count {
    color: #e23e3e;
}

#counsel-author {
    color: #9fbabf;
    font-weight: 600;
}

#counsel-author>a {
    color: #9fbabf;
}


#counsel-likes {
    color: #b7b7b7;
}

/* create input 시작 */
.create_h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #2196F3;
}

.create_h5 {
    text-align: center;
    text-transform: uppercase;
    color: #c6c6c6;
}

.create_form {
    padding: 10px;
    margin: 45px auto;
}


.create_form hr.sep {
    background: #2196F3;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
}

.create_form .emoji {
    font-size: 1.2em;
}

.group {
    width: 70%;
    position: relative;
    margin: 30px auto;
}

.group>textarea {
    resize: none;
}

.create_input {
    background: #ffffffaf;
    color: #000000;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
    white-space: pre-line;
}


.bar_input {
    position: relative;
    display: block;
    width: 100px;
}

.create_input:focus {
    outline: none;
}

.create_input:focus~label,
.create_input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

.create_input:focus~.bar:before {
    width: 320px;
}

.create_input[type=password] {
    letter-spacing: 0.3em;
}

.create_label {
    color: #464646;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 320px;
}

.bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196F3;
    transition: 300ms ease all;
    left: 0%;
}

.btn {
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
    color: #8b8b8b;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn.btn-link {
    background: #2196F3;
    color: #d3eafd;
}

.btn.btn-link:hover {
    background: #0d8aee;
    color: #deeffd;
}

.btn.btn-submit {
    background: #2196F3;
    color: #bce0fb;
}

.btn.btn-submit:hover {
    background: #0d8aee;
    color: #deeffd;
}

.btn.btn-cancel {
    background: #eee;
}

.btn.btn-cancel:hover {
    background: #e1e1e1;
    color: #8b8b8b;
}

.btn-box {
    text-align: center;
    margin: 50px 0;
}

/* create input 끝 */

/********* place 페이지네이션 시작 **********/

.paging {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.paging>i,
.paging>div.pages {
    margin: 0 10px;
}

.paging>i,
.paging>div.pages>span {
    margin: 0 3px;
    cursor: pointer;
}

span.active {
    color: orangered;
    font-weight: bold;
}

.arrow-image {
    width: 15px;
}

/********* place 페이지네이션 시작 **********/
.tag {
    margin-left: 3px;
    color: white;
}