

.main {
    width: 60vw;

    margin: 100px auto;
    @media screen and (max-width: 800px) {
        width: 80%;

    }
}

.find-section {
    width: 500px;
    display: grid;
    margin: 30px auto;
    @media screen and (max-width: 800px) {
        width: 90%;

    }
}

.find {
    border-radius: 5px;
    background-color: #c9dbcf;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 10px;
    font-size: 14pt;
}

.buttons {
    margin: 30px auto;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    @media screen and (max-width: 800px) {
        width: 90%;

    }
}