h2 {
    margin-top: 100px;
}

.main {
    width: 500px;
    margin: 100px auto;

}

.find-section {
    display: grid;

}

.find {
    border-radius: 5px;
    background-color: #c9dbcf;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 10px;
    font-size: 14pt;
}

.buttons {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}