/* request_list.html */


.main {
    padding: 0 30px;
    width: 60vw;
    margin: 100px auto;
    max-width: 800px;

    @media screen and (max-width: 800px) {
        width: 80%;

    }
}

.main-buttons {
    display: flex;
    margin: 20px
}

.main-buttons button {
    background-color: #8eadd3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.buttons button {
    background-color: #8eadd3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.friend-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;

        grid-template-rows: 1fr 1fr;

    }
}

.list-section {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.info-box button{
    background-color: #8eadd3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}