.main{
    width: 60vw;
    margin: 100px auto;
    max-width: 800px;

    @media screen and (max-width: 800px) {
        width: 80%;
    }
}

#list-section {
    display: flex;
    align-items: center;
    font-size: smaller;
}

#list-section .card{
    padding: 15px;
}

.image_box{
    width: 70px;
}

#list-section img{
    width: 70px;
}