.main {
    width: 90vw;
    margin: 50px auto;
    max-width: 1200px;
    background-color: #f1f6ff31;
    padding: 10px;
    border-radius: 30px;
    
    @media screen and (max-width: 800px) {
        width: 100%;
    }
}

body {
    margin-top: 30px;
}

.title-logo {
    display: flex;
    width: 100%;
    align-items: center;
    top: 30px;

}

.title-logo img {
    margin: 0 auto;
    width: 300px;
}

#user-list {
    margin: 0px 20px 20px;
}

#user-list .list-section {
    display: flex;
    padding: 0px 30px;
    align-items: center;
    font-size: smaller;
    width: 95%;
    overflow: auto;
    white-space: nowrap;
    background-color: rgba(0, 3, 32, 0.075);
    border-radius: 100px;
}
#user-list .list-section::-webkit-scrollbar{
    background-color: 000000;
    height: 15px;
}
#user-list .list-section::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.247);
    border-radius: 15px;
    background-clip: padding-box;
    border: 3px solid transparent;
}
#user-list .list-section::-webkit-scrollbar-button{
    width: 35px;
}


#user-list .list-section .card {
    padding: 15px;
    color: rgb(255, 255, 255);
    font-family: nanumgothic;
}

.image_box {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.image_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#list-section img {
    width: 60px;
}

.user_info .ect {
    margin-top: 3px;
    font-size: smaller;
}

.title-info {
    display: grid;
    grid-template-columns: 100px 1fr 60px;
    justify-content: space-between;
    align-items: center;
    /* background-color: #ebf6ff6b; */
    padding: 10px 20px;
    border-radius: 3px;
    margin: 15px;
    border-bottom: 2px solid #b4ddfd94;
}

.title-info .section-info {
    color: rgb(224, 224, 224);
}

.title-info .section-title {
    /* font-weight: bold; */
    font-family:'omyu_pretty';
    font-size: 16pt;
    color: wheat;
}

.section-more {
    font-size: 14px;
    color: rgb(197, 197, 197);
}

.M_C_H {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0px 20px;
    justify-content: space-between;

}

.M_C_H a {
    width: 100%;
}

.meeting-section {
    width: 100%;
}



.counsel-n-hotplace {
    display: grid;
    grid-template-rows: 220px 1fr;

}

.comment-count {
    color: rgb(255, 54, 104);
}

.counsel-list-section {
    margin: 15px;
}

.counsel-list-section .content {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 50px;
    width: 100%;
    color: white;
}

#home-counsel-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all
}

.meeting-list-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 15px;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
    }

}

.meeting-list-section .card {
    display: grid;
    width: 200px;
    border: 1px solid #ffffff44;
    height: auto;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    color: white;

    @media screen and (max-width: 1200px) {
        width: 80%;
    }

    @media screen and (max-width: 900px) {
        width: 80%;
        height: auto;
    }
}

.meeting-status span {
    font-weight: bold;
}

.meeting-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    font-weight: bold;
    
}

.meeting-title-section {
    display: grid;
    grid-template-columns: 83px 1fr;

}

.meeting-img {
    margin: 15px auto 5px;
    border-radius: 5px;
    height: 180px;
    width: 180px;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.meeting-img img {
    width: 180px;
    height: 170px;
    border-radius: 5px;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }

}

.meeting-info {
    display: flex;
    color: rgb(226, 226, 226);

    align-items: center;
    justify-content: space-between;
}


.hotplace-list-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;
    }
}

.hotplace-card {
    width: 220px;
    height: 320px;
    border: 1px solid #ffffff44;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;

    @media screen and (max-width: 1200px) {
        width: 80%;
    }

    @media screen and (max-width: 900px) {
        width: 80%;
        height: auto;
    }
}

.hotplace-title {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.hotplace-image-div {
    position: relative;
}

.place-container-img {
    margin: 15px 0px;
    width: 220px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: grayscale(10%);
    opacity: 0.8;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.hotplace-book {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 45px;
    z-index: 2;
}

.hotplace-info {
    display: grid;
    grid-template-columns: 1fr 50px;
    color: rgb(226, 226, 226);
    margin: 10px 0px;
    line-height: 1.2em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 원하는 줄 수로 변경 가능 */
    -webkit-box-orient: vertical;
    text-indent: 1em;
    white-space: normal;
    text-overflow: ellipsis;
}


footer {
    background-color: #F9F9FB;
    align-items: stretch;
    padding-bottom: 20px;
    color: gray;
}

footer a {
    color: gray;
}

#footer {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    padding: 30px 10px;
    border-top: 2px solid rgb(218, 218, 218);
    align-items: center;

}

.info {
    padding: 10px;
    display: grid;
    justify-items: start;
    align-items: center;
    font-size: 14px;
}

.info h3 {
    margin-left: 20px;
}

.info img {
    width: 25px;
    margin: 0px 5px;
}

.info .notion a {
    display: flex;
    align-items: center;
}

.intro-member {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 30px;
    justify-items: end;
    font-size: 14px;
    align-items: center;

}

.team-logo {
    display: grid;
    justify-items: center;
    align-items: center;

}

footer .team-logo img {
    width: 200px;
    opacity: 0.8;

}

.notion {
    height: 50px;
    display: flex;
    align-items: center;

}

footer .member {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 150px 100px 100px;
    height: 25px;
}

.member img {
    width: 25px;
}

.github a {
    display: flex;
    align-items: center;
}

.blog a {
    display: flex;
    align-items: center;
}

.member img {
    margin: 0px 5px;
}

.member .name {
    font-weight: bold;
}

.team-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: start;
    height: 100px;
}

.team-intro div {
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.team-intro div a {
    display: flex;
    align-items: center;
}

.info img {
    width: 25px;
    margin: 0px 5px;
}
