.login-section {
    width: 500px;
    margin: 30vh auto;

    @media screen and (max-width: 700px) {
        width: 400px;

    }
}


.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box>input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #ccc;
    padding: 20px 0px 5px 0px;
    font-size: 14pt;
    width: 100%;
}

input::placeholder {
    color: transparent;
}

input:placeholder-shown+label {
    color: #aaa;
    font-size: 14pt;
    top: 15px;
}

input:focus+label,
label {
    color: #8aa1a1;
    font-size: 10pt;
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

input:focus,
input:not(:placeholder-shown) {
    border-bottom: solid 1px #8aa1a1;
    outline: none;
}

.button-login {
    background-color: #8aa191;
    border: none;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    cursor: pointer;
    margin-top: 10px;
}

.buttons{
    margin-top: 20px;
}

.alert-danger {
    color: #ff4a4a;
    background-color:white ;
    display: none;
    margin: 10px auto;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

  }
.sns-login{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

  .button-naver img{
    height: 45px;
  }

  .button-google img{
    height: 45px;

  }