.image_box_class {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.detail_image {
    width: 250px;
    height: 250px;

}

.meeting_detail_content {
    white-space: pre-line;
}

.meeting_detail_card_class {
    width: 800px;
    margin: 70px auto auto;
    border: 1px solid rgb(165, 165, 165);
    padding: 10px;
    border-radius: 10px;

}

.meeting_detail_warp {
    width: 70vw;
    margin: auto;
}

.comment_card_class {
    width: 800px;
    margin: 20px auto 10px auto;
    border: 1px solid rgb(165, 165, 165);
    padding: 10px;
    border-radius: 10px;
}

.create_comment_box {
    width: 800px;
    margin: 20px auto 10px auto;
    border: 1px solid rgb(165, 165, 165);
    padding: 10px;
    border-radius: 10px;
}

.textareaCommentclass {
    border-radius: 10px;
}

.commentbtn {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
    margin-top: 10px;
}

.comment_btns {
    display: flex;
    align-items: center;
}
.replybtns {
    display: flex;
    align-items: center;
}
.place-detail-content {
    border: 1px solid rgb(165, 165, 165);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    width: 800px;
}

.place-detail-content-grid {
    display: grid;
    grid-template-columns: 120px 400px 1fr;
    height: 250px;
}
.place-detail-font-content {
    margin-top: 20px;
    text-indent: 0.5em;
    white-space: pre-line;
}
.place-detail-map {
    margin: 0px 0px 0px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/********* 모달 시작 **********/
.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 0 0 0;
    z-index: 9999;
}

.popup {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
    margin: 0 auto;
    height: 300px;
}

.popup-body {
    position: relative;
    height: 100%;
}

.popup-body-wrap {
    display: grid;
    height: 100%;
    grid-template-rows: 80px 80px 10px 1fr;
}

.popup-title {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.popup-sns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popup-sns-text {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popup-sns-text>div {
    width: 80px;
    text-align: center;
}

.popup-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup::-webkit-scrollbar {
    display: none;
}

.close_popup_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.7);
    /* 배경색 반투명 설정 */
    border: none;
}

.close_popup_btn:before,
.close_popup_btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 2px;
    background-color: black;
}

.close_popup_btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_popup_btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/********* 모달 끝 **********/