main {
    width: 70vw;
    margin: 75px auto 0px auto;
    max-width: 1200px !important;
}

.none-text-align {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 유저 시작 */
.my_posts_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_posts_container>div:nth-child(1) {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);

}

.my_posts_container>div:nth-child(1)>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my_posts_container>div:nth-child(2)>a {
    color: #8FB4E1;
    font-weight: 800;
    font-size: 18px;
}


/* 유저 끝 */
/* 북마크 핫 플레이스 시작 */

.hotplace-book-container {
    display: grid;
    grid-template-rows: 60px 10px 1fr;
    height: 430px;
}

.hotplace-book-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.hotplace-card {
    display: grid;
    grid-template-rows: 230px 1fr;
}

.hotplace-image {
    position: relative;
    width: 250px;
    margin: 10px 5px;
}

.hotplace-image>a:nth-child(1)>img {
    width: 250px;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.hotplace-image>a:nth-child(2)>img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    z-index: 1;
}

.hotplace-content {
    display: grid;
    grid-template-rows: 40px 25px 1fr 1fr;
}

.hotplace-title {
    display: flex;
    align-items: center;
}

.hotplace-score {
    display: flex;
    align-items: center;
    color: rgb(155, 155, 155);
    display: flex;
    gap: 15px;
}

.hotplace-content>:nth-child(3) {
    display: flex;
    align-items: center;
}

/* 북마크 핫 플레이스 끝 */

/* 북마크 만남의 광장 시작 */
.meeting-book-container {
    margin-top: 50px;
}


.meeting_list_image {
    width: 270px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.meeting_img_list {
    width: 30%;
    margin-bottom: 10px;
}

.meeting_card {
    margin-top: 10px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
    padding: 10px;
    height: 550px;
    margin: 5px;
    width: 300px;

}

.meeting_list_content {
    width: 270px;
    height: 280px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meeting_create_btn {
    margin-left: 90%;
}

/* 북마크 만남의 광장 끝 */
/* 더보기 시작 */

.book-more-views {
    display: grid;
    grid-template-columns: 1fr 200px;
    margin: 10px 0px;
}

.book-more-views>div:nth-child(1) {
    display: flex;
    align-items: center;
}

.book-more-views>div:nth-child(2) {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(160, 160, 160);
    font-size: 13px;

}

/* 더보기 끝 */
/* 내 글 고민상담 시작 */
.counsel_user_create_class {
    height: 350px;
}

/* 내 글 고민상담 끝 */
.status_and_title {
    overflow: hidden;
    white-space: nowrap;
    height:50px;
}

.info_line {
    margin-top: 5px;
}

.meeting_card_class {
    width: 70vw;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-items: center;
    max-width: 900px;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;

    }

    @media screen and (max-width: 900px) {
        grid-template-columns: 1fr;

    }
}



.meeting_img_list {
    width: 30%;
    margin-bottom: 10px;
}



.meeting_list_content {
    width: 270px;
    height: 280px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meeting_create_btn {
    margin-left: 90%;
}

/********* search 시작 **********/

.search-div {
    display: flex;
    position: relative;
    width: 350px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search-form {
    position: relative;
    width: 90%;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;

    &.focus {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }
}

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 195px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;

    &::-webkit-search-cancel-button {
        appearance: none;
    }
}

.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;

    & svg {
        width: 20px;
        height: 20px;
        fill: #5a6674;
    }
}

.search-option {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 15px;

    div {
        position: relative;
        display: inline-block;
        margin: 0 1px;
        cursor: pointer;

        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.01;
            cursor: pointer;
        }

        span {
            position: absolute;
            display: block;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            background: #929AA3;
            color: #fff;
            font-size: 9px;
            letter-spacing: 1px;
            line-height: 1;
            text-transform: uppercase;
            padding: 4px 7px;
            border-radius: 12px;
            top: -18px;
            transition: all .2s ease-in-out;

            &::after {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                border-top: 4px solid #929AA3;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                transition: all .2s ease-in-out;
            }
        }

        &:hover span {
            opacity: 1;
            top: -21px;
        }

        label {
            display: block;
            cursor: pointer;
        }

        svg {
            height: 20px;
            width: 20px;
            fill: #5a6674;
            opacity: 0.6;
            transition: all .2s ease-in-out;
            pointer-events: none;
        }

        &:hover svg {
            opacity: 1;
        }
    }
}

.counsel_user_create_container{
    max-width: 900px;
    margin: 0 auto;
}