.main {
    width: 60vw;
    padding: 0 30px;
    margin: 100px auto;

    @media screen and (max-width: 800px) {
        width: 90%;
    }
}

.personal-box {
    margin: 50px auto;
    width: 400px;
    background-color: #f1f9ff;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ffffff;

}

.box {
    padding: 30px;
    font-size: 14pt;
}

.box button {
    margin: 5px;
    background-color: #8eadd3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}


/* password_change.html */


.input-box {
    position: relative;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    color :white;

}

#input-box {
    margin: 50px auto;
    width: 500px;
    @media screen and (max-width: 700px) {
        width: 400px;

    }
}
h2{
    color: white;
}
.input-box>input {
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 14pt;
    width: 90%;
    color: white;

}

.input-box>label {
    font-size: 11pt;
    padding-left: 5px;
}

#buttons button {
    background-color: #9bb7da;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}


/* edit_phone.html*/

.edit-phone-section {
    margin: 30px auto;
    width: 500px;
}

.certify-phone {
    display: flex;
    
}

.certify-phone button {
    background-color: #9bb7da;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;
    width: 150px;
    height: 50px

}
#auth-num-box{
    align-items: center;
    justify-content: space-around;
    color: white;
}
#auth-num-box button {
    background-color: #9bb7da;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
    margin: 20px;

}

.submit-button {
    background-color: #9bb7da;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    height: 50px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.book-more-views {
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-top: 10px;
}

.book-more-views>div:nth-child(1) {
    display: flex;
    align-items: center;
}

.book-more-views>div:nth-child(2) {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(160, 160, 160);
    font-size: 13px;
}