/* 북마크 핫 플레이스 시작 */

main {
    width: 70vw;
    margin: 75px auto 0px auto;
    max-width: 1200px;
}

.hotplace-book-container {
    display: grid;
    grid-template-rows: 40px 10px 1fr;
    margin-top: 80px;
    height: 430px;
}

.hotplace-book-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.hotplace-card {
    display: grid;
    grid-template-rows: 230px 1fr;
}

.hotplace-image {
    position: relative;
    width: 250px;
    margin: 10px 5px;
}

.hotplace-image>a:nth-child(1)>img {
    width: 250px;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.hotplace-image>a:nth-child(2)>img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    z-index: 1;
}

.hotplace-content {
    display: grid;
    grid-template-rows: 40px 25px 1fr 1fr;
}

.hotplace-title {
    display: flex;
    align-items: center;
}

.hotplace-score {
    display: flex;
    align-items: center;
    color: rgb(155, 155, 155);
    display: flex;
    gap: 15px;
}

.hotplace-content>:nth-child(3) {
    display: flex;
    align-items: center;
}

/* 북마크 핫 플레이스 끝 */

/* 북마크 만남의 광장 시작 */
.meeting_card_class {
    width: 70vw;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.meeting_list_image {
    width: 270px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.meeting_img_list {
    width: 30%;
    margin-bottom: 10px;
}

.meeting_card {
    margin-top: 10px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
    padding: 10px;
    height: 500px;

}

.meeting_list_content {
    width: 270px;
    height: 280px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meeting_create_btn {
    margin-left: 90%;
}

/* 북마크 만남의 광장 끝 */

.book-more-views {
    display: grid;
    grid-template-columns: 1fr 200px;
    margin-top: 10px;
}

.book-more-views>div:nth-child(1) {
    display: flex;
    align-items: center;
}

.book-more-views>div:nth-child(2) {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(160, 160, 160);
    font-size: 13px;
}