main {
    width: 70vw;
    margin: 75px auto 0px auto;
    max-width: 1200px;
}

.none-text-align {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* 유저 시작 */
.my_posts_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_posts_container>div:nth-child(1) {
    width: 100px;
    height: 100px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);

}

.my_posts_container>div:nth-child(1)>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my_posts_container>div:nth-child(2)>a {
    color: #8FB4E1;
    font-weight: 800;
    font-size: 18px;
}


/* 유저 끝 */
/* 북마크 핫 플레이스 시작 */

.hotplace-book-container {
    display: grid;
    grid-template-rows: 60px 10px 1fr;
    height: 430px;
}

.hotplace-book-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.hotplace-card {
    display: grid;
    grid-template-rows: 230px 1fr;
}

.hotplace-image {
    position: relative;
    width: 250px;
    margin: 10px 5px;
}

.hotplace-image>a:nth-child(1)>img {
    width: 250px;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.hotplace-image>a:nth-child(2)>img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    z-index: 1;
}

.hotplace-content {
    display: grid;
    grid-template-rows: 40px 25px 1fr 1fr;
}

.hotplace-title {
    display: flex;
    align-items: center;
}

.hotplace-score {
    display: flex;
    align-items: center;
    color: rgb(155, 155, 155);
    display: flex;
    gap: 15px;
}

.hotplace-content>:nth-child(3) {
    display: flex;
    align-items: center;
}

/* 북마크 핫 플레이스 끝 */

/* 북마크 만남의 광장 시작 */
.meeting-book-container {
    margin-top: 50px;
}

.meeting_card_class {
    width: 70vw;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.meeting_list_image {
    width: 270px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.meeting_img_list {
    width: 30%;
    margin-bottom: 10px;
}

.meeting_card {
    margin-top: 10px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
    padding: 10px;
    height: 500px;

}

.meeting_list_content {
    width: 270px;
    height: 280px;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meeting_create_btn {
    margin-left: 90%;
}

/* 북마크 만남의 광장 끝 */
/* 더보기 시작 */

.book-more-views {
    display: grid;
    grid-template-columns: 1fr 200px;
    margin: 10px 0px;
}

.book-more-views>div:nth-child(1) {
    display: flex;
    align-items: center;
}

.book-more-views>div:nth-child(2) {
    display: flex;
    justify-content: end;
    align-items: center;
    color: rgb(160, 160, 160);
    font-size: 13px;

}

/* 더보기 끝 */
/* 내 글 고민상담 시작 */
.counsel_user_create_class {
    height: 350px;
}

/* 내 글 고민상담 끝 */