.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 0 0 0;
    z-index: 9999;
}

.popup {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
    margin: 0 auto;
    height: 300px;
}

.popup-body {
    position: relative;
}

.popup::-webkit-scrollbar {
    display: none;
}

.close_popup_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.7);
    /* 배경색 반투명 설정 */
    border: none;
}

.close_popup_btn:before,
.close_popup_btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 2px;
    background-color: black;
}

.close_popup_btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_popup_btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* dropdown css 시작 */
.menu:after {
    display: block;
    content: '';
    clear: both;
}

.menu>li {
    position: relative;
    float: left;
    margin-right: 5px;
}

.menu>li>a {
    display: block;
    padding: 0 15px;
    background: #333;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

.menu>li:hover .depth_1 {
    display: block;
}

.menu .depth_1 {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.menu .depth_1 a {
    display: block;
    padding: 5px;
    background: #666;
    color: #fff;
}

/* dropdown css 끝 */

/* place css 시작 */
.place_category {
    display: flex;
    height: 100px;
}