/********* 모달 시작 **********/
.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 0 0 0;
    z-index: 9999;
}

.popup {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    overflow: scroll;
    background-color: #fff;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
    margin: 0 auto;
    height: 300px;
}

.popup-body {
    position: relative;
    height: 100%;
}

.popup-body-wrap {
    display: grid;
    height: 100%;
    grid-template-rows: 80px 80px 10px 1fr;
}

.popup-title {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.popup-sns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popup-sns-text {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popup-sns-text>div {
    width: 80px;
    text-align: center;
}

.popup-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup::-webkit-scrollbar {
    display: none;
}

.close_popup_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(200, 200, 200, 0.7);
    /* 배경색 반투명 설정 */
    border: none;
}

.close_popup_btn:before,
.close_popup_btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 2px;
    background-color: black;
}

.close_popup_btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_popup_btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/********* 모달 끝 **********/
/********* create input 시작 **********/
.wrapper {
    margin-top: 80px;
}

.create_h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: #2196F3;
}

.create_h5 {
    text-align: center;
    text-transform: uppercase;
    color: #c6c6c6;
}

.create_form {
    width: 500px;
    margin: 45px auto;
}


.create_form hr.sep {
    background: #2196F3;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
}

.create_form .emoji {
    font-size: 1.2em;
}

.group {
    position: relative;
    margin: 30px 0;
}

.group>textarea {
    resize: none;
    width: 500px;
}

.create_input {
    background: #b9b4b4;
    color: #f1efef;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 500px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

.file_class {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135%;
    margin: 30px 0;
    box-sizing: border-box;
}

.file_input[type="file"] {
    position: relative;
    width: 1000px;
}

.file_input[type="file"]::file-selector-button {
    width: 120px;
    color: transparent;
}

/* Faked label styles and icon */
.file_input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 16px;
    height: 20px;
    width: 20px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

.file_input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 11px;
    left: 40px;
    color: #0964b0;
    content: "Upload File";
}

/* file upload button */
.file_input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

/* file upload button hover state */
.file_input[type="file"]::file-selector-button:hover {
    background-color: #b9b4b4;
}

/* file upload button active state */
.file_input[type="file"]::file-selector-button:active {
    background-color: #b9b4b4;
}



.bar_input {
    position: relative;
    display: block;
    width: 100px;
}

.create_input:focus {
    outline: none;
}

.create_input:focus~label,
.create_input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

.create_input:focus~.bar:before {
    width: 320px;
}

.create_input[type=password] {
    letter-spacing: 0.3em;
}

.create_label {
    color: #e9e9e9;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 320px;
}

.bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196F3;
    transition: 300ms ease all;
    left: 0%;
}

.btn {
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
    color: #8b8b8b;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.btn.btn-link {
    background: #2196F3;
    color: #d3eafd;
}

.btn.btn-link:hover {
    background: #0d8aee;
    color: #deeffd;
}

.btn.btn-submit {
    background: #2196F3;
    color: #bce0fb;
}

.btn.btn-submit:hover {
    background: #0d8aee;
    color: #deeffd;
}

.btn.btn-cancel {
    background: #eee;
}

.btn.btn-cancel:hover {
    background: #e1e1e1;
    color: #8b8b8b;
}

.btn.btn-add {
    width: 250px;
    background: #ffffff;
    color: #2b8bda;
    font-weight: 600;
}

.btn.btn-add:hover {
    background: #b9b4b4;
}

.btn-box {
    text-align: center;
    margin: 50px 0;
}

/********* create input 끝 **********/
/********* category 시작 **********/

.search-select {
    margin: auto 0px;
    width: 150px;
    user-select: none;
}

.search-select .field {
    border: 1px solid #cbbeb9;
    box-shadow: 0 1px 0px #f1efee;
    height: 20px;
    width: 150px;
    line-height: 20px;
    padding: 15px 0px;
    display: inline-block;
    background-image: linear-gradient(#fafafa, #fdfbfa);
    border-radius: 4px;
    cursor: pointer;
}

.search-select input {
    display: none;
}

.search-select input:checked+.select {
    opacity: 1;
    top: 15px;
}

.search-select ul.select {
    transition-property: opacity, top;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 4px;
    width: 150px;
    position: relative;
    top: 10px;
    left: 1px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.search-select ul.select li {
    z-index: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 140px;
    line-height: 20px;
    padding: 15px 0px;
    text-transform: uppercase;
    color: #a79b97;
    font-family: "PT Sans Caption";
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #c0b7b4;
    border-bottom: 1px solid #ddd8d7;
    text-align: left;
    padding-left: 10px;
}

.search-select ul.select li:hover {
    margin-top: -1px;
    background-color: #e38461;
    width: 140px;
    color: white;
    border-top: 1px solid #df6e52;
    border-bottom: 1px solid #df6e52;
}

.search-select ul.select li:hover i:after {
    color: white;
}

.search-select ul.select li:last-child {
    border: none;
}

.search-select ul.select li i:after {
    color: #c0b7b4;
}

.search-select ul.select li.arrow {
    display: inline;
    position: absolute;
    top: -20px;
    left: 270px;
    width: 20px;
    height: 20px;
    z-index: 0;
    border: none;
}

.search-select ul.select li.arrow:after {
    font-size: 40px;
    color: white;
    opacity: 1;
}

.search-select ul.select li:nth-child(2) {
    border-radius: 4px 4px 0 0;
}

.search-select ul.select li:last-child {
    border-radius: 0 0 4px 4px;
}

.search-select label {
    cursor: pointer;
    height: 20px;
    width: 150px;
    line-height: 20px;
    padding: 15px 10px;
    text-transform: uppercase;
    color: #a79b97;
    font-family: "PT Sans Caption";
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

@font-face {
    font-family: "FontA";
    src: url(https://s.cdpn.io/999/fontawesome-webfont.ttf) format("truetype"), url(https://s.cdpn.io/999/FontAwesome.otf) format("opentype");
}

/********* category 끝 **********/
/********* 이미지 미리보기 시작 **********/
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.image_container {
    width: 800px;
    max-width: 70vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.img_container {
    width: 250px;
}

.image-wrapper {
    position: relative;
    width: 250px;
    height: 250px;
}

.image_preview {
    width: 100%;
    height: 100%;
    filter: grayscale(70%);
    opacity: 0.7;
    object-fit: cover;
    object-position: center;
}

.img_preview {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.image-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    z-index: 1;
}

/********* 이미지 미리보기 끝 **********/
/********* place 카테고리 시작 **********/
.place-category {
    display: grid;
    grid-template-columns: 160px 1fr 1fr;
    height: 60px;
}

.place-search {
    display: grid;
    grid-template-columns: 120px 1fr;
    justify-content: center;
    align-items: start;
}

/********* place 카테고리 끝 **********/

/********* select box 시작 **********/
.place-sorted {
    display: flex;
    justify-content: end;
}

.select-box {
    position: relative;
    width: 100%;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    border: 0.8px solid rgb(203, 203, 203);
    font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
    font-size: 15px;
    color: #797979;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.select-box__current {
    position: relative;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
}

.select-box__current:focus+.select-box__list {
    opacity: 1;
    animation-name: none;
}

.select-box__current:focus+.select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked+.select-box__input-text {
    display: block;
}

.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #fff;
}

.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.select-box__option {
    display: block;
    padding: 15px;
    height: 18px;
    background-color: #fff;
    cursor: pointer;
}

.select-box__option:hover,
.select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

/********* select box 끝 **********/
/********* search 시작 **********/

.search-div {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search-form {
    position: relative;
    width: 90%;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;

    &.focus {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }
}

.search-input {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 195px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;

    &::-webkit-search-cancel-button {
        appearance: none;
    }
}

.search-button {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none !important;
    cursor: pointer;

    & svg {
        width: 20px;
        height: 20px;
        fill: #5a6674;
    }
}

.search-option {
    position: absolute;
    text-align: right;
    top: 10px;
    right: 15px;

    div {
        position: relative;
        display: inline-block;
        margin: 0 1px;
        cursor: pointer;

        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.01;
            cursor: pointer;
        }

        span {
            position: absolute;
            display: block;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            background: #929AA3;
            color: #fff;
            font-size: 9px;
            letter-spacing: 1px;
            line-height: 1;
            text-transform: uppercase;
            padding: 4px 7px;
            border-radius: 12px;
            top: -18px;
            transition: all .2s ease-in-out;

            &::after {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                border-top: 4px solid #929AA3;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                transition: all .2s ease-in-out;
            }
        }

        &:hover span {
            opacity: 1;
            top: -21px;
        }

        label {
            display: block;
            cursor: pointer;
        }

        svg {
            height: 20px;
            width: 20px;
            fill: #5a6674;
            opacity: 0.6;
            transition: all .2s ease-in-out;
            pointer-events: none;
        }

        &:hover svg {
            opacity: 1;
        }
    }
}

/********* search 끝 **********/
/********* place-contariner 시작 **********/
main {
    width: 70vw;
    margin: 75px auto;
    max-width: 900px;
}

#place {
    background-color: rgba(236, 244, 255, 0.11);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(236, 244, 255, 0.26);
}


.place-container {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 230px 1fr;
}

.place-container-text {
    margin-left: 30px;
}

.hotplace-image-div {
    position: relative;
    width: 220px;
    margin: 10px 5px;
}

.place-container-img {
    width: 220px;
    height: 230px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.hotplace-image-div>a:nth-child(2)>img {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 40px;
    z-index: 1;
}

.place-container-main {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 100px;
}

.place-container-title {
    display: flex;
    align-items: center;
    color: white;
}

.place-container-title0 {
    margin-right: 10px;
}

.place-container-title1 {
    margin-right: 20px;
}

.place-container-title2 {
    margin-right: 10px;
}

.place-container-title-a {
    text-decoration: none;
    color: rgb(231, 231, 231);
}

.place-container-score {
    color: rgb(206, 206, 206);
}

.place-container-book {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    filter: invert(100%);
}

.place-container-address {
    color: rgb(224, 213, 195);
    font-weight: 600;
}

.place-container-content {
    line-height: 1.2em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* 원하는 줄 수로 변경 가능 */
    -webkit-box-orient: vertical;
    margin: 20px auto;
    text-indent: 1em;
    white-space: normal;
    text-overflow: ellipsis;
    width: 90%;
    color: rgb(214, 214, 214);
}

.place-container-bottom {
    display: grid;
    grid-template-columns: 1fr 150px;
}

.place-container-count {
    height: 55px;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 90%;
    color: wheat;

}

.place-empathy {
    display: flex;
    justify-content: end;
    align-items: end;
    filter: invert(100%);
}

.place-container-count-img {
    margin-left: 15px;
    color: rgb(190, 190, 190);
    font-weight: 600;
    gap: 5px;
    display: flex;
}

.place-container-count-img>img {
    width: 20px;
    filter: grayscale(100%);
}

.place-container-hr {
    grid-column: 1/-1;
    margin-top: 30px
}

/********* place-contariner 끝 **********/
/********* 이미지 슬라이더 시작 **********/
.place-detail-imagebox {
    width: 1040px;
    margin: 80px auto 0px auto;

    /**중앙 정렬한다.**/
}

/**사진**/
.slide {
    /**이만큼의 크기로 보이겠다는 의미**/
    width: 1040px;
    height: 250px;
    /**사진보다 크면 다음 사진까지 표시되어 img와 slide크기를 맞춘다.**/
    overflow: hidden;
    /**이미지는 내장이라 overflow:hidden을 사용해 넘친 사진들을 안보이게 한다.**/
}

.images {
    display: flex;
    /**좌우 슬라이드를 위해 flex로 사진을 가로정렬한다.**/
    /* width: 1040px; */
    height: 250px;
    /**slide와 images의 높이가 다르면 부자연스럽게 표시돼 slide의 높이에 맞게 높이를 바꾼다.**/
    transition: transform 0.5s;
    /**어떤 속성에 대해 애니메이션 효과를 주는 속성이다. 
  tranform속성에 0.5초의 듀레이션(동작의 시작해서 끝나는 시간)을 준다.**/
}

.slider-img-size {
    width: 250px !important;
    height: 250px;
    margin: 0px 5px;
}

.slider-img-size>img {
    width: 250px !important;
    height: 250px;
    object-fit: cover;
    object-position: center;
    /**slide 크기에 맞춘다.**/
}

/**버튼위치**/
.back {
    position: relative;
    bottom: 170px;
    right: 35px;
}

.next {
    position: relative;
    bottom: 170px;
    left: 1010px;
}

/**버튼디자인**/
.next,
.back {
    width: 30px;
    height: 30px;
    color: white;
    background: #646464;
}

.next:active,
.back:active {
    /**버튼을 클릭하는 동안 색을 바꾼다.**/
    background: #3e3e3e;
}

.next:disabled,
.back:disabled {
    opacity: 0;
}

/********* 이미지 슬라이더 끝 **********/
/********* place-detail 시작 **********/

/* 좌측 임시 시작 */
.place-container-div {
    width: 60vw;
    margin: 75px auto;
    /* max-width: 1550px; */

}

.place-meeting-list {
    background-color: rgba(255, 255, 255, 0.719);
    width: 18%;
    max-width: 230px;
    height: auto;
    margin: 20px auto 10px auto;
    /* border: 1px solid rgb(165, 165, 165); */
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 100px;
}

.meeting-data {
    color: black;
    padding: 10px 0px;
    height: auto;
    display: flex;
    gap: 10px;
    margin: 20px 0px;
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid rgb(180, 180, 180);
}

.meeting-status span {
    font-weight: bold;
}

.meeting-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    font-weight: bold;
}

.meeting-title-section {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: 20px;
}

.meeting-info {
    color: rgb(0, 0, 0);
    overflow: visible;
    white-space: nowrap;
    font-size: small;
}

/* 좌측 임시 끝 */

.place-detail-container {
    margin-top: -50px;
    width: 100%;
}

.place-detail-text {
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 50px;
    margin-bottom: 10px;
    color: white;
}

.place-detail-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

#place-detail-auth {
    margin-left: 10px;
    color: gray;
    overflow: visible;
    white-space: nowrap;
}

.place-empathy {
    align-items: end;
    justify-content: end;
}

.place-detail-title {
    margin-right: 15px;
}

.place-detail-score {
    color: rgb(155, 155, 155);
}

.place-detail-edit {
    width: 20px;
    height: auto;
    object-fit: contain;
    margin: 10px 5px 0px 15px;
}

.place-detail-delete {
    width: 20px;
    height: auto;
    object-fit: contain;
}

.place-detail-category {
    display: flex;
    height: 50px;
    margin-right: 35px;
    align-items: end;
    color: rgb(187, 187, 187);
    font-weight: 500;
}

.place-detail-feed {
    display: flex;
    align-items: end;
    justify-content: end;
}

.place-detail-feed img {
    width: 30px;
}

.place-detail-feed a {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #c2d9ec;
    margin-top: 30px;
    font-size: small;
    font-weight: bold;
    color: black;
}

.place-detail-book {
    width: 25px;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

.place-detail-like {
    width: 25px;
    height: auto;
    object-fit: contain;
    margin-right: 15px;
}

.place-detail-share {
    width: 25px;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

.place-detail-content {
    margin: 30px 0px;
    width: 100%;
}

.place-detail-content-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 1fr 1fr;

}

.place-detail-content-grid-2 {
    color: white;
}

.place-detail-font-gray {
    color: #aeaeae;
    font-weight: 510;
    margin-bottom: 10px;
}

.place-detail-font-content {
    margin-top: 20px;
    text-indent: 0.5em;
    white-space: pre-line;
}

.place-detail-map {
    margin: 0px 0px 0px 15px;
    justify-content: center;
    align-items: center;
}

.button-blue {
    margin: 5px 0px 5px 5px;
    background-color: #8eadd3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.button-blue:hover {
    background: #b9b4b4;
}

.button-white {
    color: #8eadd3;
    font-weight: bold;
    border: 1px solid #8eadd3;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}

.button-white:hover {
    background: #c85656;
    color: white;
}

.comment_edit_icon {
    width: 20px;
    /* filter: grayscale(40%); */
    margin-left: 10px;
}

.comment_delete_icon {
    width: 20px;
}


/********* place-detail 끝 **********/
/********* place-detail 댓글 시작 **********/

.place-comment-section{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;

}
.comment_card_class {
    margin: 20px auto 10px auto;
    
    padding: 10px;
    color: white;
}

.create_comment_box {
    margin: 20px auto 10px auto;
    padding: 10px;
}

.comment-text {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.textareaCommentclass {
    border-radius: 10px;
    padding: 10px;
    width: 95%;
}

.commentbtn {
    border: 1px solid rgba(102, 34, 34, 0);
    border-radius: 10px;
    padding: 10px;
    background-color: #E0EEFF;
    margin-top: 10px;
    font-weight: bold;
}

.commentbtn:hover {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 10px;
    padding: 10px;
    background-color: #7e99b9a4;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}


.comment_btns {
    display: flex;
    align-items: center;
}

.replybtns {
    display: flex;
    align-items: center;
}

.reply-input {
    border-radius: 10px;
    width: 500px;
    height: 30px
}

/********* place-detail 댓글 끝 **********/

/********* place 페이지네이션 시작 **********/

.paging {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.paging>i,
.paging>div.pages {
    margin: 0 10px;
}

.paging>i,
.paging>div.pages>span {
    margin: 0 3px;
    cursor: pointer;
}

span.active {
    color: orangered;
    font-weight: bold;
}

.arrow-image {
    width: 15px;
}

/********* place 페이지네이션 시작 **********/