.main{
    display: grid;
    padding: 0 30px;
    width: 60vw;
    margin: 100px auto;
    max-width: 800px;
    @media screen and (max-width: 800px) {
        width: 90%;

    }
}

.profile-section{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;

}
.profile{
    display: grid;
    width: 100%;
}
.nickname-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.nickname-section button{
    margin: 5px;
    background-color:  #8eadd3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}
.profile .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color:   #EBF6FF;
    border-radius: 10px;
    
}


.profile-img{
    width: 150px;
    height: 150px;
    padding: 0 20px;
}
.profile-img img{
    width: 150px;
}

.info-section{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;

}
.info-section .ect{
    height: 200px;
    width: 100px;
    padding: 50px 40px;
    border-radius: 10px;
    background-color: #EBF6FF;

    @media screen and (max-width: 900px) {
        width: 80px;

    }
    @media screen and (max-width: 700px) {
        font-size : 11pt;
        width: 100px;
        padding: 40px 20px;

    }
}
.info-section .ect div{
    padding: 5px 0;
}

#intro{
    width: 300px;
    min-height: 200px;
    background-color: #EBF6FF;
    padding: 50px;
    border-radius: 10px;

    @media screen and (max-width: 900px) {
        width: 30vw;
    }
    
    @media screen and (max-width: 700px) {
        font-size : 11pt;
        width: 30vw;
        padding: 40px;
    }
}
