.main {
    display: grid;
    padding: 0 30px;
    width: 60vw;
    margin: 100px auto;
    max-width: 800px;

    @media screen and (max-width: 800px) {
        width: 90%;

    }
}

.profile-section {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.profile {
    display: grid;
    width: 100%;
}

.nickname-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.nickname{
    font-weight: bold;
}
.nickname-section button {
    margin: 5px;
    background-color: #e0eeff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
}
.profile .buttons {
    display: flex;
    align-items: center;
}
.profile .buttons button{
    width: 100px;
    height: 35px;
    margin-right: 20px;
    background-color: #8eadd3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

}


.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-section {
    margin-top: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;

}

.info-section .ect {
    height: 150px;
    width: 180px;
    padding: 50px 40px;
    border-radius: 10px;
    background-color: #EBF6FF;

    @media screen and (max-width: 900px) {
        width: 80px;

    }

    @media screen and (max-width: 700px) {
        font-size: 11pt;
        padding: 40px 20px;

    }
}

.info-section .ect div {
    padding: 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 900px) {
    grid-template-columns: 1fr ;

    grid-template-rows: 1fr 1fr;
        
    }
}

#intro {
    width: 250px;
    min-height: 150px;
    background-color: #EBF6FF;
    padding: 50px;
    border-radius: 10px;

    @media screen and (max-width: 900px) {
        width: 200px;
    }

    @media screen and (max-width: 700px) {
        font-size: 11pt;
        width: 150px;
        padding: 40px;
    }
}

.profile-album-section{
    margin-top: 30px;
}
.album img{
    width: 200px;
    margin: 20px;
}

/* .album .images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
} */