
.main{
    display: grid;
    padding: 0 30px;
    width: 60vw;
    margin: 100px auto;
    max-width: 800px;
    @media screen and (max-width: 800px) {
        width: 90%;

    }
}

.album img{
    width: 200px;
    margin: 20px;
}

.album .images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}