.main{
    display: grid;
    padding: 0 30px;

}
.profile-section{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.profile{
    display: grid;
}
.nickname-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.nickname-section button{
    margin: 10px;
}
.profile .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.profile-img{
    width: 150px;
    height: 150px;
}
.profile-img img{
    width: 150px;
}

.info-section{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;

}
