/* main */
.main {
    width: 60vw;
    margin: 100px auto;
    max-width: 800px;

    @media screen and (max-width: 800px) {
        width: 90%;

    }
}


/* select box 시작 */
.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgb(203, 203, 203);
    font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
    font-size: 18px;
    color: #60666d;
}

@media (min-width: 768px) {
    .select-box {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .select-box {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .select-box {
        width: 30%;
    }
}

.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}

.select-box__current:focus+.select-box__list {
    opacity: 1;
    animation-name: none;
}

.select-box__current:focus+.select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked+.select-box__input-text {
    display: block;
}

.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}

.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
}

.select-box__option:hover,
.select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

/* select box 끝 */

.condition {
    margin: 20px;
}

.list-section {
    display: grid;
}

.list-section a {
    margin: 15px;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}

.card div {
    margin: 5px;
}

.image_box {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2);
}

.image_box>.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.user_info {
    display: grid;
}

.user_nickname {
    font-size: 14pt;
    font-weight: bold;
}
.user_nickname button{
    margin: 5px;
    background-color: #8eadd3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.user_info .intro {
    background-color: #EBF6FF;
    min-height: 55px;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 15px;
}

.no_intro{
    color: gray;
}